<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
        <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
</head>

<body>
    <% include ../partials/nav.ejs %>
        <div class="jumbotron text-center">
            <div class="container">
                <h1>Thank you</h1>
                <p>Thank you for using this service</p>
            </div>
        </div>
        <div class="container">
            <div class="alert alert-info text-center" role="alert">
                Thank you for using the web to case service.
            </div>
        </div>
      </body>
</html>
