<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
        <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
</head>

<body>
    <% include ../partials/nav.ejs %>
        <div class="jumbotron text-center">
            <div class="container">
                <h1>Web to Case</h1>
                <p>Please use the form below to submit your case</p>
                <form action="https://www.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST">
                    <input type=hidden id="orgid" name="orgid" value="00D30000001HL7W">
                    <input type=hidden id="retURL" name="retURL" value="https://ul-demo.herokuapp.com/thanks">

                    <div class="form-group row">
                        <label for="name" class="col-xs-2 col-form-label">Contact Name</label>
                        <div class="col-xs-10">
                            <input class="form-control" type="text" value="" id="name" name="name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="subject" class="col-xs-2 col-form-label">Subject</label>
                        <div class="col-xs-10">
                            <input class="form-control" type="text" value="" id="subject" name="subject">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-xs-2 col-form-label">Description</label>
                        <div class="col-xs-10">
                            <input class="form-control" type="text" value="" id="description" name="description">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="priority" class="col-xs-2 col-form-label">Priority</label>
                        <div class="col-xs-10">
                            <select class="form-control" id="priority" name="priority">
                                <option value="" selected>--None--</option>
                                <option value="High">High</option>
                                <option value="Medium">Medium</option>
                                <option value="Low">Low</option>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" id="external" name="external" value="1" />
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <div class="container">
            <div class="alert alert-info text-center" role="alert">
                Thank you for using the web to case service.
            </div>
        </div>
        <script>
            function setRetUrl() {
                var baseUrl = window.location;
                var redirectUrl = baseUrl .protocol + "//" + baseUrl.host + "/thanks";
                var redirectInput = document.getElementById('retURL');
                redirectInput.value = redirectUrl;
            }
            window.onload = setRetUrl;
        </script>
</body>

</html>
